body {
  margin: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  background: #111;
}
div {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 2px solid white;
  background: radial-gradient(18% 28% at 24% 50%, #cefaffff 7%, #073aff00 100%),
    radial-gradient(18% 28% at 18% 71%, #ffffff59 6%, #073aff00 100%),
    radial-gradient(70% 53% at 36% 76%, #73f2ffff 0, #073aff00 100%),
    radial-gradient(42% 53% at 15% 94%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(42% 53% at 34% 72%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(18% 28% at 35% 87%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(31% 43% at 7% 98%, #ffffffff 24%, #073aff00 100%),
    radial-gradient(21% 37% at 72% 23%, #d3ff6d9c 24%, #073aff00 100%),
    radial-gradient(35% 56% at 91% 74%, #8a4ffff5 9%, #073aff00 100%),
    radial-gradient(74% 86% at 67% 38%, #6dffaef5 24%, #073aff00 100%),
    linear-gradient(125deg, #4eb5ffff 1%, #4c00fcff 100%);
  animation: rotate 10s infinite linear;
  box-shadow: 0 0px 20px 20px rgba(255, 255, 255, 0.6) inset, 0 0 20px 2px black;
}

div.shadow {
  width: 11rem;
  height: 11rem;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: -1;
  border: none;
  opacity: 0.7;
  filter: blur(30px);
}

@keyframes rotate {
  to {
    transform: rotatez(360deg);
  }
}
